html {
  height: 100%;
  margin: 0;
}

body {
  @extend .navy, .bg-gray;
  height: 100%;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.sitecontainer {
  height: 100%;
  margin: 0;
}

.accent {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  &.active {
    display: block;
    opacity: 1;
  }
}

.link {
  color: $purple;
  text-decoration: underline dotted;
  &:hover {
    color: $fuchsia;
    text-decoration: underline dotted;
  }
}

header {
  @extend .d-flex, .justify-content-between, .w-100, .shadow-lg, .bg-gray;
  z-index: 997;
  position: fixed;
  top: 0;
  width: 100%;

  > #djangoBtn {
    @extend .btn, .btn-outline-secondary, .align-self-start, .m-3;
  }
}

.header__title {
  @extend .d-flex, .flex-column, .p-3;
}