.sidebar {
  @extend .bg-dark, .d-flex, .flex-column;
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  left: -500px;
  z-index: 996;
  color: $white;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 768px) {
    width: 100%;
    left: -100%;
  }

  &.active {
    left: 0;
  }

  #hideSidebar {
    position: absolute;
    float: left;
  }
  
  header {
    @extend .h2, .accent, .p-3, .border-bottom-semi;
    width: 100%;
    margin-bottom: 0;
  }

  .content {
    @extend .flex-grow-1, .d-flex, .flex-column, .overflow-auto;
    @media screen and (max-width: 768px) {
      $padding: 4rem !important;
      padding-left: $padding;
      padding-right: $padding;
    }
    .controller {
      @extend .p-4, .border-bottom-semi;
      transition: all 0.1s linear;
      &.busy {
        background-color: rgba(255, 255, 255, 0.2);
        opacity: 0.7;
      }
      .title {
        @extend .h5;
      }
      // .description {
      // }
      .controls-row {
        @extend .d-flex, .py-3, .text-nowrap;
        > a {
          @extend .btn, .btn-outline-light, .my-auto, .mr-2;
        }
        .status {
          @extend .flex-grow-1, .my-auto, .text-center;
          display: none;
          &.active {
            display: block;
          }
          span {
            @extend .olive;
            font-weight: 700;
          }
        }
      }
    }
  }

  img.hero {
    @extend .align-self-center, .p-3;
    opacity: 0.5;
    width: 300px;
    height: 92px;
  }

  footer {
    @extend .bg-maroon, .white, .w-100, .p-3, .text-center;
    line-height: 2;
  }

  @media screen and (max-height: 700px) {
    img.hero, footer {
      display: none;
    }
  }
}