.tree-of-checkboxes {
  @extend .list-group, .list-group-flush, .pl-3;
  height: inherit;
  a {
    @extend .p-1;
    display: block;
    color: $silver;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  input[type="checkbox"] {
    @extend .form-check-input, .my-2;
    &:checked + a {
      color: $white;
    }
  }

  > ul {
    @extend .m-0;
  }
  ul {
    @extend .pl-4;
  }

  li {
    @extend .list-group-item, .p-0;
    background-color: transparent;
    list-style: none;

    &.has-children > a {
      @extend .pl-4;
      &::before {
        content: '+';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 2px;
        width: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
      }
      &:hover::before {
        @extend .olive;
      }
      &.active::before {
        content: '-';
      }
      &.active:hover::before {
        @extend .red;
      }
    }
  }
  small {
    @extend .d-inline-block, .pl-1;
    opacity: 0.5;
  }
}