{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <title>d3js-mcutimeline</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Oswald&display=swap">

    {% render_bundle 'vendor' 'css' %}
    {% render_bundle 'mcu_frontend' 'css' %}

</head>
<body class="navy bg-gray">
    <div class="sitecontainer">
        {% include "sidebar.html" %}
        <div class="overlay"></div>
        <main>
            <header class="d-flex w-100 justify-content-between shadow-lg">
                <button type="button" id="sidebarToggle" class="btn btn-dark align-self-start m-3 p-1">
                    <i class="fas fa-cog"></i>
                </button>
                <div class="d-flex flex-column p-3">
                    <div class="h1 accent">The Marvel Cinematic Universe Timeline</div>
                    <div class="h5 mx-auto">Data crawled, refined and extracted from the <a href="https://marvelcinematicuniverse.fandom.com/timeline" class="link">MCU wiki timeline</a>.</div>
                </div>
                <a class="btn btn-outline-secondary align-self-start m-3" href="{% url 'admin:index' %}">Django Admin</a>
            </header>
            {% comment %} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, fugiat dolorum. Eum velit assumenda ipsa autem libero nulla adipisci ad nesciunt accusamus, harum tenetur labore quidem mollitia commodi sapiente. Tenetur? {% endcomment %}
        </main>

    </div>

    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'mcu_frontend' 'js' %}
</body>
</html>