{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <title>d3js-mcutimeline</title>
    <meta charset="utf-8">
    {% render_bundle 'vendor' 'css' %}
    {% render_bundle 'mcu_frontend' 'css' %}

</head>
<body>
    <div class="sitecontainer">
        {% include "sidebar.html" %}
        <div class="overlay overlay-dark"></div>
        <main>
            <header>
                <div class="sidebtn">
                    <button type="button" id="showSidebar" class="btn-icon">
                        <i class="material-icons">settings</i>
                    </button>
                </div>
                <div class="title">
                    <div class="h1 accent">The Marvel Cinematic Universe Timeline</div>
                    <div class="h5 mx-auto">Data crawled, refined and extracted from the <a href="https://marvelcinematicuniverse.fandom.com/timeline" class="link">MCU wiki timeline</a>.</div>
                </div>
                <div class="sidebtn">
                    <a id="django-admin" href="{% url 'admin:index' %}">Django Admin</a>
                </div>
            </header>
        </main>
    </div>

    {% csrf_token %}
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'mcu_frontend' 'js' %}
</body>
</html>