{% block content %}
{% load webpack_static from webpack_loader %}
<!-- Sidebar  -->
<nav id="sidebar" class="sidebar">
    <button id="sidebarDismiss" class="sidebar__btn">
        <i class="material-icons">close</i>
    </button>
    <div class="sidebar__header">Settings</div>

    <div class="sidebar__content">
      
        <div>
            Select the sources you would like to include 
            {% comment %} TODO {% endcomment %}
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto asperiores beatae dolores explicabo officia neque quaerat velit, doloremque maxime temporibus, cupiditate consectetur id labore perferendis soluta et amet libero aspernatur?
        </div>
    </div>
    <img class="sidebar__hero" src="{% webpack_static 'marvel-studios.svg' %}">
    <footer class="sidebar__footer">
        made with 💜 by <i>sullyD64</i>. <a href="https://github.com/sullyD64/infovis-mcutimeline" class="btn btn-dark p-1">See the code on <img src="{% webpack_static 'github-logo-white.png' %}" width="50px"></a>
    </footer>
</nav>

{% endblock content %}