{% block content %}
<!-- Sidebar  -->
<nav id="sidebar" class="sidebar bg-secondary d-flex flex-column">
    <button id="sidebarDismiss" class="btn btn-dark m-3" style="font-size: 20px">
        <i class="fas fa-arrow-left icon-4x"></i>
    </button>
    <div class="sidebar__header h2 accent p-3">Settings</div>

    <div class="sidebar__content flex-grow-1 p-4">
      
        <div>
            Select the sources you would like to include 
            <!-- # TODO -->
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto asperiores beatae dolores explicabo officia neque quaerat velit, doloremque maxime temporibus, cupiditate consectetur id labore perferendis soluta et amet libero aspernatur?
        </div>

    </div>
    <footer class="bg-maroon white w-100 p-3 text-center">
        made with 💜 by sullyD64. <a href="https://github.com/sullyD64/infovis-mcutimeline" class="badge badge-dark">See the
            code<i class="m-1 fab fa-github"></i></a>
    </footer>
</nav>

{% endblock content %}